body{
    font-family: arial;
    font-display:  bold;
}
h1{
    color: blue;}
#samsul{
    color: aqua;}
#udin{
    color: blueviolet;}
.p2 {
    color: yellow;
}
.p2:hover {
    color: red;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    }


/* first, nth, last* memberi warna pada link*/
li:nth-child(7) a{
    color: black;
}

.satu{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    margin-left: 100px;
    margin-top: 100px;
}
.dua{
    width: 150px;
    height: 150px;
    background-color: aqua;
    margin-left: 50px;
    margin-bottom: 50px;
}
.tiga{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 20px;
}